.contact{
    margin-top: 10px;
    height: 80vh;
    display: flex;
    background-color: rgb(255, 236, 195);
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contactHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contactInfo{
    display: flex;
    flex-direction: row;
    width: 60%;
    gap: 10px;
}

.contactInfoElement{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.contactInfoElement:hover{
    background-color: white;
}
