.bargainsWrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    align-items: center;
    background: rgb(190,176,114);
    background: linear-gradient(180deg, rgba(190,176,114,0.7595238779105392) 32%,
    rgba(185,162,214,0.5634454465379901) 100%);
    }

.bargainsSlider{
    width: 60vw;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dotsWrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}