.bargainsWrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 20px;
    align-items: center;
    background: rgb(190,176,114);
    background: linear-gradient(90deg, rgba(33, 73, 204, 0.288) 32%,
    rgba(237, 222, 255, 0.563) 100%);
    }

.bargainsSlider{
    width: 60vw;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dotsWrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}