.home{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, rgba(22,43,42, 0.5) 0%, rgba(22,43,42, 0.5) 12.5%,rgba(28,53,54, 0.5) 12.5%, rgba(28,53,54, 0.5) 25%,rgba(25,80,83, 0.5) 25%, rgba(25,80,83, 0.5) 37.5%,rgba(22,90,114, 0.5) 37.5%, rgba(22,90,114, 0.5) 50%,rgba(20,134,144, 0.5) 50%, rgba(20,134,144, 0.5) 62.5%,rgba(17,154,175, 0.5) 62.5%, rgba(17,154,175, 0.5) 75%,rgba(14,191,205, 0.5) 75%, rgba(14,191,205, 0.5) 87.5%,rgba(11,180,236, 0.5) 87.5%, rgba(11,180,236, 0.5) 100%),linear-gradient(135deg, rgb(0,138,188) 0%, rgb(0,138,188) 12.5%,rgb(4,132,173) 12.5%, rgb(4,132,173) 25%,rgb(7,89,158) 25%, rgb(7,89,158) 37.5%,rgb(11,86,143) 37.5%, rgb(11,86,143) 50%,rgb(15,82,129) 50%, rgb(15,82,129) 62.5%,rgb(19,67,115) 62.5%, rgb(19,67,115) 75%,rgb(22,59,106) 75%, rgb(22,59,106) 87.5%,rgb(29,26,97) 87.5%, rgb(29,26,97) 100%);
    gap: 60px;
}

.poster{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20vw;
}

.posterContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.motto{
    font-weight: 500;
    font-size: 5rem;
    color: white;
}

.mottoHighlight{
    font-weight: 700;
    color: rgb(6, 64, 255);
}

.category{
    padding: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-style: outset;
    box-shadow: 10px 10px rgba(0,0,0,.25);
    
}

.hrStyle{
    border: none;
    height: 60px;
    color: darkmagenta;
    color: color;
    background-color: black;
    background-image: url(../../../assets/react.svg);
    background-size: 60px 60px;
    width: 100%;
}

.popularNow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.popularTitle{
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

.categoriesContainer{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.popularCategory{
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid gray;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.appTypeTitle{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    width: 90%;
    text-align: left;
    color: white;
}

.appTypeContainer{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.appType{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1.3rem;
    font-weight: 600;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.appTypeHeader{
    padding: 15px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid gray;
}

.appTypeLink{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 90%;
}

.appTypeImg{
    max-width: 100%;
    width: 100%;
    height: 100%;
}

