.categoriesWrapper{
    width: 90vw;
    font-size: 1.3rem;
    font-weight: 700;
}

.categories{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.categories::-webkit-scrollbar {
    width: 0;
    height: 0;
}