.productsWrapper{
    width: 90vw;
    font-size: 1.3rem;
    font-weight: 700;
}

.products{
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
}