.navbar{
    position: fixed;
    width: 100vw;
    height: 80px;
    padding-left: 35vw;
    padding-right: 35vw;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.navbarLink{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.currentLocation{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.12647065662202384) 0%, rgba(255,255,255,0.05644264541754207) 100%);
    border-bottom: 5px solid red;
}