*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  height: 100vw;
}

.mobile-page-content{
  padding-top: 80px;
  margin: 10px;
  margin-top: 0px;
}

.desktop-page-content{
  padding-top: 80px;
  margin: 10px;
  margin-top: 0px;
  width: 60vw;
  margin-left: 20vw;
}
