@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  height: 100vw;
}

.desktop-page{
  background-color:rgb(81, 110, 206);
}

.mobile-page-content{
  padding-top: 80px;
  margin: 10px;
  margin-top: 0px;
}

.desktop-page-content{
  padding-top: 100px;
  margin: 10px;
  margin-top: 0px;
  width: 60vw;
  margin-left: 20vw;
}
