.cartMain{
    min-height: 100vh;
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(81, 110, 206);
}

.cartContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.cartItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    height: 15vh;
    max-height: 15vh;
    border-bottom: 1px solid gray;
}

.productImg{
    object-fit: contain;
    max-width: 15%;
}

.productName{
    width: 5%;
    font-weight: 600;
    font-size: 2rem;
}

.productInfo{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.productQuantity{
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 30px;
    text-align: center;
}


.quantityWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.quantityButton{
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
    box-shadow: 0 1px 2px rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15);
}

.productPrice{
    font-size: 1.3rem;
    font-weight: 600;
}

.lowerButtons{
    display: flex;
    justify-content: space-between;
}

.cartLink{
    padding: 10px;
    text-decoration: none;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(0, 174, 255, 0.459);
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}